* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo{
	margin:8px;
	padding:5px;
	height:100px;
	border-radius:5px;
	width:180px;
	background-color:white;
	
	
}
#M{
	
	COLOR:WHITE;
	position:absolute;
	top:50PX;
	left:1200PX;
	
}
#P1{
	
	
	COLOR:WHITE;
}
#mr{
	  
	  text-align:center;
		border-width:5px;
	  border-color:black;
	  border-radius:5px;
	  margin:5px;
	  
	  display: grid;
	 wi 
	background-color: black;
	position:absolute;
	top:0PX;
	left:400PX;
  padding: 20px;
  color:white;font-size:50px;
  text-shadow: 3px 3px blue;

	  }
body {
  font-family: "Outfit", sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_1280.jpg");
  background-size: cover;
  background-position: top center;
}
.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}
header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(18, 18, 18, 0.4);
  border-radius: 16px;
  border-bottom: 3px solid #df8e00;

  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #eeeeee;
}
header input:focus {
  background-color: rgba(18, 18, 18, 0.8);
}
header input:HOVER{
	background-color:#32D3E7;
	COLOR:black;
}
main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.location .city {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}
.location .date {
  color: #eeeeee;
  font-size: 16px;
}
.current .temp {
  color: #eeeeee;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0;
  text-shadow: 2px 8px rgba(0, 0, 0, 0.5);
}
.current .temp span {
  font-weight: 200;
}
.current .weather {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}
.current .hi-low {
  color: #eeeeee;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}
